.SearchBox {
  display: flex;
  align-self: stretch;
  padding-left: 1rem;
  padding-top: 1rem;
  input[type=text] {
    padding: 8px;
    font-size: 13px;
    border: 1px solid grey;
    width: 50%;
    background: #f1f1f1;
    text-align: center;
  }

  button {
    padding: 8px;
    background: #2196F3;
    color: white;
    font-size: 13px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }
}