.horizontal-layout {
   margin-left: auto;
   margin-right: auto;
   width: 50%;
   text-align: center;
    input[type=text] {
        padding: 8px;
        font-size: 13px;
        border: 1px solid grey;
        width: 30%;
        background: #f1f1f1;
        text-align: center;
    }

    button { 
        width: 10%;
        padding: 8px;
        background: #2196F3;
        color: white;
        font-size: 13px;
        border: 1px solid grey;
        border-left: none; 
        cursor: pointer;
    }
}