.card-container {
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
    margin-top:.5rem;
    margin-right: .5rem;
  }
  
  .card-container:hover {
    transform: scale(1.05);
  }