.container--vertical {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
}

.container--horizontal {
  display: flex;
  background-image: linear-gradient(to right top, #e9ebf0, #e4ecf4, #ddeef5, #d6eff3, #d1f1ee);
}

.results--map {
  flex: 1;
}

aside {
  width: 30%;
  max-width: 16rem;
}

.results--list {
  padding-left: .5rem;
  padding-top: 1rem;
  overflow-y: scroll;
}